@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #f2ebd9;
    
}
* {
    font-family: 'Kanit', sans-serif!important;

}

.off-white-bg{
    background: #f2ebd9;

}

.custom-text{
    color: #23423e;
}

.custom-orange{
    background-color: #edab28;
}

.slick-dots{
    @apply flex justify-center;
}